/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #mapCanvas {
    height: 88vh;
    margin: 5vh;
    border-color: hsl(152deg 54% 65%);;
    border-style: groove;
    border-width: 8px;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(152,24%,92%);
  }
  h3 {
    margin-bottom: 7px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  h3,p {
    margin-top: 0px;

  }
  p {
    margin-bottom: 2px;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
  }
  a {
    text-decoration: none;
  }
